* {
  padding: 0;
  margin: 0;
}

body {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  color: white;
  text-align: left;
  padding: 10px;
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
}

h1:hover {
  color: #00cfff;
  cursor: pointer;
}

nav {
  text-align: center;
  margin: 20px auto;
}

.combined-navigation {
  border: none 1px;
  background-color: #000428;
  margin: 0px;
  height: 90px;
  margin-bottom: 50px;
}

#inversion,
#wallet,
#overview,
#info {
  color: white;
  border-bottom: 2px solid white;
  margin: 10px 10px auto;
  width: 8%;
}

.list-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

#inversion {
  width: 70px;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  transition: transform 0.3s ease;
  transition: color 0.3s ease;
}

#inversion:hover {
  color: #00cfff;
  transform: scale(1.1);
  background-color: #0c5881;
}

#wallet {
  width: 70px;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  transition: transform 0.3s ease;
  transition: color 0.3s ease;
}

#wallet:hover {
  color: #00cfff;
  transform: scale(1.3);
  background-color: #0c5881;
}

#overview {
  width: 70px;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  transition: transform 0.3s ease;
  transition: color 0.3s ease;
}

#overview:hover {
  color: #00cfff;
  transform: scale(1.3);
  background-color: #0c5881;
}

#info {
  width: 70px;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  transition: transform 0.3s ease;
  transition: color 0.3s ease;
}

#info:hover {
  color: #00cfff;
  transform: scale(1.1);
  background-color: #0c5881;
}

.settings-bar {
  width: 100px;
  position: absolute;
  z-index: 999;
  display: flex;
  right: 25px;
  top: 2px;
  margin: 24px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  color: white;
  background: #0080ba;
  overflow: hidden;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

.btn-menu {
  border: none;
  background: #0080ba;
  transform: none;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 30px;
}

.list__item {
  display: flex;
  height: 10vh;
}

.list__button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__button > img {
  width: 25px;
}

.list__button > a {
  text-decoration: none;
  color: #d3d3d3;
}
.hidden {
  display: none;
}

.saved-number {
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  width: 600px;
  border-radius: 15px;
  height: 300px;
  margin: 10px auto;
  background-color: #0c5881;
}

#numerito {
  font-size: 25px;
  margin: 20px;
  color: #32ff00;
}

#totalGastos {
  font-size: 25px;
  margin: 20px;
  color: red;
}

#tusahorros {
  font-size: 24px;
  margin: 20px;
}

.saved-number h2 {
  margin-top: 20px;
  padding: 20px;
}

#tusgastos {
  width: 20%;
  margin: 50px auto;
}
